.container {
    margin: 0px;
    display: grid;
    gap: 15px;
}

@media (min-width: 768px) {
    .container {
        margin: 15px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .container {
        margin: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .container{
        margin: 30px;
        grid-template-columns: repeat(4, 1fr);
    }
}

