.principal{
    text-align: center;
}

.container{
    max-width: 40%;
    border-radius: 25%;
    background-color: white;
    color: #0050d1f5;
    filter: drop-shadow(0 0 0 white);
    margin-left: 25%;
}